<% include ../partials/header %>

<!-- <h4><%= currentUser %></h4> -->

<div class="container">
    <header class="jumbotron">
        <!-- to add spacing on the sides when resizing the window -->
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>

            <p>
                <a class="btn btn-primary btn-lg" , href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(campground => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image %>" alt="">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                    <% if (campground.rating === 0){ %>
                        <em> (No reviews yet)</em>
                    <% } else { %>
                        <p>
                            <%- '<span class="far fa-star star-style star-filled" ></span>'.repeat(campground.rating) %><%- '<span class="far fa-star star-style" ></span>'.repeat(5-campground.rating) %>
                        </p>

                    <% } %>

                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>