<% include ../partials/header %>

<div class="container">
    <div class="row">
        <!-- side bar  -->
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
                <div id="map"></div>
            </div>
        </div>
        <!-- image -->
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="">
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a href=""> <%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted By <%= campground.author.username %></em>
                    </p>

                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                    <a href="/campgrounds" type="button" class="btn btn-info">Back</a>
                </div>
            </div>
            <!-- Comments sections -->
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(comment=>{ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 days a ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning"
                            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                        <form class="delete-form"
                            action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!-- Google Map API -->
<script>
    function initMap(){
        // Get latitude and longitude of campground
        // var lat = <%= campground.lat %>;
        // var lng = <%= campground.lng %>;
        // var center = {lat:lat, lng:lng};
        var center = {lat : 42.3601, lng:-71.0589}
        // New map
        var options = {
            zoom : 8,
            center : center
        }
        // The map positioned at campground location
        var map = new google.maps.Map(document.getElementById("map"), options);

        // The marker positioned at campground center in the map
        var img = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var marker = new google.maps.Marker({
            position : center,
            map : map,
            icon : img
        });
        
        // Content for display in InfoWindow
        contentString = `
        <strong><%= campground.name %></strong>
        <p><%= campground.description %></p>
        `
        
        // InfoWindow for marker
        var infoWindow = new google.maps.InfoWindow({
            content : contentString,
        })

        // Add a listener to the marker
        marker.addListener('click', function(){
            infoWindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyYD4G_d2_YIARHNJpStHnBso4BZuZBVE&callback=initMap"></script>

<% include ../partials/footer %>

